@charset "utf-8";
/* CSS Document */

html,body{
	width:100%;
	height:900px;
	/*background-image: url(../images/background.jpg);*/
	/*当前文件跳出的相对路径*/
	margin:0;
}

.container {
    font-family: 微软雅黑;
	/*background-image: url(../images/background.jpg);*/
    /*background-color: #091329;*/
    height:100%;
}

.top-chart{
	width:47%;
	height:450px;
	margin:15px;
	float:left;
	position: relative;
    top: -50px;
}

.wdata-div{
	width:100%;
	margin: 0 auto;
	height:150px;
}

.figure-div{
	width:100%;
	margin: 20px auto;
	clear: both;
}

.t-chart{
	 background-color: transparent;
	 height: 400px;
	 width: 45%;
	 float:left;
	 margin-left: 10px;
}

.right-top-c{
	 background-color: #ddd;
	 height: 400px;
	 width: 45%;
	 float:left;
	 display: inline-block;
}

.left-b-video{
	background-color: transparent;
	height:300px;
	width:47%;
	float:left;
	margin:15px;
}

.right-t-chart{
	background-color: transparent;
	height:300px;
	width:45%;
	margin:10px 30px 10px 30px;
	float:left;
	margin-left: 8px;
}

.enterprise{

	 width:13%;
	 /*height:60px;*/
	 margin:2% 2%;
	 /*border:2px solid #0088CC;*/
	 cursor: pointer;
	 transition:all 0.3s;
	 /*background-color: #fff;*/
 }

.enterprise:hover{
	transform: scale(1.5,1.5);
}
.shadow1 {
	/*-webkit-box-shadow: #99CC66 0px 0px 10px 1px;
	-moz-box-shadow: #99CC66 0px 0px 10px 1px;
	box-shadow: #99CC66 0px 0px 10px 1px;
	border-radius: 5px;*/
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: #7FFF00;
	text-shadow: 0 1px 0 #002D67;
	border: 1px solid #778899;
}
.shadow2 {
	/*-webkit-box-shadow: #99CC66 0px 0px 10px 1px;
	-moz-box-shadow: #99CC66 0px 0px 10px 1px;
	box-shadow: #99CC66 0px 0px 10px 1px;
	border-radius: 5px;*/
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: #FFD700;
	text-shadow: 0 1px 0 #002D67;
	border: 1px solid #778899;
}
.shadow3 {
	/*-webkit-box-shadow: #99CC66 0px 0px 10px 1px;
	-moz-box-shadow: #99CC66 0px 0px 10px 1px;
	box-shadow: #99CC66 0px 0px 10px 1px;
	border-radius: 5px;*/
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: #FF3030;
	text-shadow: 0 1px 0 #002D67;
	border: 1px solid #778899;
}



