/*此文件为用户端应用的统一样式*/
body{
    font-size: 16px;
    background-color:#e7e8e0;
    font-family: "微软雅黑";
    overflow-x: hidden;
}
@media screen and (max-width:360px){
    body{
        font-size: 14px;
    }
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight: normal;}
p{
    margin: 0;
}
a{
    color: #599ee7;
}
a:hover{
    text-decoration: none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #599ee7;
    border-color: #599ee7;
}
.label-primary {
    background-color: #599ee7;
}
.wrap{
    position: relative;
    margin: 0 auto;
    padding: 1px;
    width:1200px;
    height: 100%;
}
input{
    border-radius: 5px;
    border: none;
}
.clear-float:after {display:block;clear:both;content:"";overflow:hidden;height:0}
.clear-float{zoom:1}

/*nav*/
.navbar{
    padding: 12px 0px;
    height: 79px;
    background-color: rgba(0,0,0,0.3);
}
.navbar-default{
    border-color: transparent;
}
.navbar-static-top{
    background-color: rgba(0,0,0,0.5);
}
.navbar-default .navbar-brand{font-size: 1.7em;}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
    color: #fff;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}
/*footer*/
footer{
    padding: 30px;
    background-color: #fff;
}
@media screen and (max-width:360px){
    footer{
        padding: 20px;
    }
}
footer .copyright{
    padding: 20px;
    color: #616161;
}

/*header*/
header{
    background-color: #fff;
}
header img.brand{
    height: 35px;
    margin: 25px 25px;
    box-sizing: content-box;
}
@media screen and (min-width: 960px){
    header img.brand{
        height: 70px;
        margin: 25px 25px;
        box-sizing: content-box;
    }
}
/*时间/紧急区分标签*/
.nav-tabs {
    border-bottom: none;
}
.nav-tabs.cate-tabs{
    position: absolute;
    right: 0;
    top: 35px;
    border-bottom: none;
    z-index:10;
}
.nav-tabs.cate-tabs>li {
    float: right;
    margin-bottom: -1px;
}
.nav-tabs.cate-tabs>li.active>a{
    color: #fff;
    cursor: default;
    background-color: #599ee7;
    border: none;
}
.nav-tabs.cate-tabs>li>a{
    margin-right: 0;
    padding: 5px 10px;
    color: #999;
    background-color: #ddd;
    border-radius: 0;
    border: none;
 }
.nav-tabs.cate-tabs>li>a:hover {
    border-color: transparent;

}
/*通知/活动区分标签*/
.nav-tabs.underline-tabs{
    margin-bottom: 10px;
    border-bottom: none;
}
.nav-tabs.underline-tabs>li.active>a{
    cursor: default;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid #599ee7;
}
.nav-tabs.underline-tabs>li>a{
    border: none;
}
.nav-tabs.underline-tabs>li>a:hover {
    border-bottom: 3px solid #599ee7;
}
