/*此文件为用户端应用的统一样式*/
body{
    font-size: 16px;
    background-color:#e7e8e0;
    font-family: "微软雅黑";
    overflow-x: hidden;
}
@media screen and (max-width:360px){
    body{
        font-size: 14px;
    }
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight: normal;}
p{
    margin: 0;
}
a{
    color: #599ee7;
}
a:hover{
    text-decoration: none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #599ee7;
    border-color: #599ee7;
}
.label-primary {
    background-color: #599ee7;
}
.wrap{
    position: relative;
    margin: 0 auto;
    padding: 1px;
    width:1200px;
    height: 100%;
}
input{
    border-radius: 5px;
    border: none;
}
.clear-float:after {display:block;clear:both;content:"";overflow:hidden;height:0}
.clear-float{zoom:1}

/*nav*/
.navbar{
    padding: 12px 0px;
    height: 79px;
    background-color: rgba(0,0,0,0.3);
}
.navbar-default{
    border-color: transparent;
}
.navbar-static-top{
    background-color: rgba(0,0,0,0.5);
}
.navbar-default .navbar-brand{font-size: 1.7em;}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
    color: #fff;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}
/*footer*/
footer{
    padding: 30px;
    background-color: #fff;
}
@media screen and (max-width:360px){
    footer{
        padding: 20px;
    }
}
footer .copyright{
    padding: 20px;
    color: #616161;
}

/*header*/
header{
    background-color: #fff;
}
header img.brand{
    height: 35px;
    margin: 25px 25px;
    box-sizing: content-box;
}
@media screen and (min-width: 960px){
    header img.brand{
        height: 70px;
        margin: 25px 25px;
        box-sizing: content-box;
    }
}
header .login-ul{
    margin-top: 40px;
}
header .login-info{
    display: inline-block;
    width: 260px;
}
header img.media-object{
    width: 50px;
    height: 50px;
}
header .media-body .media-heading{
    display: inline-block;
}
header .media-body .login-name{
    width: 200px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
header div.options{
    display: inline-block;
    margin-top: 23px;
}
header .option{
    display: inline-block;
}
header .option:first-child{
    padding-right:10px;
    border-right: 1px solid #e7e7eb;
}
header .user-collapse{
    display: none;
    padding: 10px 0;
    border-top: 3px solid #ccc;
}
header .user-welcome{
    display: inline-block;
    margin-right: 10px;
}

header .user-collapse div.options{
    margin-top: 0;
}
@media screen and (max-width: 767px){
    header .user-collapse{
        display: block;
    }
    .admin-op-panel
    {min-height:200px !important;}

    admin-content
    {min-height: 300px !important;}

.glyphicon-th-list
    {
        font-size: 20px;
    }
    .panel-content
    {
        padding-top:0 !important;
    }
    .panel-content .nav-tabs.cate-tabs
    {
        top:13px !important;
    }
}


.navbar-collapse
{
    padding: 0px;
}

/*时间/紧急区分标签*/
.nav-tabs {
    border-bottom: none;
}
.nav-tabs.cate-tabs{
    position: absolute;
    /*right: 0;*/
    /*top: 35px;*/
    right: 33px;
    top: 43px;
    border-bottom: none;
    z-index:10;
}
.nav-tabs.cate-tabs>li {
    float: right;
    margin-bottom: -1px;
}
.nav-tabs.cate-tabs>li.active>a{
    /*color: #fff;*/
    color:#f9f9f9;
    cursor: default;
    background-color: #599ee7;
    /*background-color:#eee;*/
    border: none;

    height: 20px;
    font-size: 10px;
    line-height: 10px;
    width: 60px;
    text-align: center;
}
.nav-tabs.cate-tabs>li>a{
    margin-right: 0;
    padding: 5px 10px;
    /*color: #999;*/
    /*background-color: #ddd;*/
    color:#385971;
    background-color:#eee;
    border-radius: 0;
    border: none;

    height: 20px;
    font-size: 10px;
    line-height: 10px;
    width: 60px;
    text-align: center;
 }
.nav-tabs.cate-tabs>li>a:hover {
    border-color: transparent;


}
/*通知/活动区分标签*/
.nav-tabs.underline-tabs{
    margin-bottom: 10px;
    border-bottom: none;
}
.nav-tabs.underline-tabs>li.active>a{
    cursor: default;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid #599ee7;
}
.nav-tabs.underline-tabs>li>a{
    border: none;
}
.nav-tabs.underline-tabs>li>a:hover {
    border-bottom: 3px solid #599ee7;
}
/**
以下为用户登录后的界面共享样式
*/
/*admin-content*/
.admin-content{
    margin: 20px auto;
    max-width: 1200px;
    min-height: 500px;
    background-color: #fff;
}
.admin-op-list{
    float: left;
    width: 20.4%;
    height:100%;
    box-sizing: border-box;
}
.admin-op-panel{
    float: left;
    width: 79%;
    /*min-height: 300px;*/
    min-height:500px;
    border-left:1px solid #ddd;
    box-sizing: border-box;
}
@media screen and (max-width: 767px){
    .admin-op-list{
        width: 100%;
    }
    .admin-op-panel{
        width: 100%;
        border-left:none;
        box-sizing: border-box;
    }
}

/*admin-content admin-op-list*/
.menu{
}
.menu .menu-title{
    position: relative;
    margin: 0;
    padding: 16px 0 16px 58px;
    font-size: 1.125em;
    color: #b2b2b2;
}
.menu .menu-title .glyphicon {
    display: block;
    position: absolute;
    left: 27px;
    top: 16px;
    width: 20px;
    height: 20px;
}
.menu .menu-ul{
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7eb;
    font-size: 1em;
}
.menu .menu-ul li a{
    display: block;
    height: 36px;
    line-height: 36px;
    color: #222;
    text-indent: 60px;
}
.menu .menu-ul li a:hover{
    color: black;
    text-decoration: none;
    background-color: #f4f5f9;
}

.menu .menu-ul li .active{
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fff;
    text-indent: 60px;
    background-color: #599ee7;
    text-decoration: none;
}
/*admin-content admin-op-panel*/
.panel-content{
    position: relative;
    margin: 0 auto;
    padding: 29px 0;
    width: 85%;
}