@charset"utf-8";
*
{
	margin:0;
	padding:0;
	font-size:16px;
	color:black;
	font-family:"microsoft yahei", "Helvetica Neue",Helvetica,Arial,sans-serif; 
}

body
{
	min-width:737px
}

.customForm
{
	width:100%;
}
.customForm > *
{
	float:left;
	padding:20px
}

.leftForm
{
	width:60%;
}

.leftForm .form-group
{
	margin-bottom: 30px;
}

.rightForm
{
	background-color: #F6F7F8;
	width:30%;
	height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.rightForm #dragArea .form-group,.rightForm #dragArea .form-group *
{
	cursor: pointer;
}

.rightForm form
{
	 height:100%;
}

.box
{
	/*padding-left:10px;*/
    /*width:80%;*/
    /*border-left:1px solid #4483EB;*/
    /*min-height:300px;*/
    height:auto;
    position:relative;
}

.box >*
{
	/*float:left;*/
}

.box form
{
	width:90%;
	border-left: 2px solid;
	padding:10px;
    height: auto;
    min-height:450px;
    /*position: absolute;*/
    /*right: 0;*/
   float: right;
  
}

.circle
{
	width:10px;
	height:10px;
	border-radius: 10px;
	border:2px solid;
	right:0;
    margin-right: -6px;
    margin-top: 5px;
    position: absolute;
    background-color: white;
    z-index: 99;
}

.block
{
	width:10%;
	position: absolute;
    top: 50%;
    margin-top: -10px;
    height: 20px;
}

.block .name
{
	float:left;
}

.block .circle
{
	float:right;
}

.blue 
{
	border-color: #4483EB !important;
}

.midblue
{
	border-color:#599ee7 !important; ;
}

.lightblue 
{
    border-color: #5bc0de !important;
}

.btn-primary
{
	/*background-image: -webkit-linear-gradient(top,#599ee7 0,#599ee7 100%);*/
	/*background-image: -o-linear-gradient(top,#599ee7 0,#599ee7 100%);*/
	/*background-image: -webkit-gradient(linear,left top,left bottom,from(#599ee7),to(#599ee7));*/
	/*background-image: linear-gradient(to bottom,#599ee7 0,#599ee7 100%);*/
	/*background-color:#599ee7 !important;*/
}
.option_button
{
	/*padding-left: 10px;*/
	position:relative;
	height:100px;
}

.option_button .center
{
	width:201px;
	margin: 8px auto 0px auto;
	line-height:25px
}

.option_button .button_group
{
	width: 90%;
	border-left: 2px solid;
	padding: 10px;
	height: 100%;
	position: absolute;
	right: 0;

}

.option_button .btn-group
{
	margin: 8px;
}

.option_button .btn-group .btn
{
	width: 50px;
	height: 25px;
	font-size: 12px;
	text-align: center;
	line-height: 0px;
}


.button_group .expire
{
	width:300px;
	margin:0 auto;
}

.button_group .expire .check
{
	width: 200px;
	margin: 0 auto;
	padding: 5px 10px;
}

.form_datetime
{
	width: 250px;
	margin-left: 57px;
	padding-bottom: 10px;
}




.operate
{
	/*padding-left: 10px;*/
	position:relative;
	height:50px;
}


.operate .button
{
	width: 90%;
    border-left: 2px solid;
    padding: 10px;
    height: 100%;
    position: absolute;
    right: 0;
}

.button .center
{
   width:201px;
   margin:0 auto;	
   line-height:25px
}


.button button
{
	width: 90px;
	height: 25px;
	line-height: 25px;
	padding: 0;
	margin-left:8px;
}

.clearfix:after 
{

content: " ";

display: block;

height: 0;

clear: both;

visibility: hidden;

}



.admin-content
{
	position:relative;
}

.panel-content
{
	width:95%;
	padding:0;
}

#showSetting
{
	width:0;
	height:0;
}

#showSetting >button
{
	width: 0;
    height: 0;
    padding: 0;
    border: 0;
}

.form-group label
{
	    width: 100%;
}

.popover-content button
{
	margin-top: 10px;
    width: 100%;
	
}

.popover-content input[type="checkbox"],.popover-content input[type="radio"]
{
	margin-top:10px;
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Chrome/Safari/Opera */
-khtml-user-select: none; /* Konqueror */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
not supported by any browser */
}