.table .all
{
	
}

.event-title a
{
	color:#333;text-decoration:none;
	cursor:pointer;
}

.event-title a:hover
{
    color:#599ee7;
    text-decoration:underline;
}

.op-buttons
{
    height: 55px;
}

.page-header
{
    margin: 10px 0 10px;
}

.page-header h3
{
    display: inline;
    margin: 0px 20px;
}
.table-responsive
{
    border:none;
}


.dropdown
{
    float: right;
    margin: 10px 0 10px 10px;
}

.dropdown-menu>li>.aname
{
  display: inline;
}
.dropdown-menu>li
{
    margin-left:10px;
}
.dropdown-menu>li button
{
    width: 50px;
    height: 20px;
    font-size: 14px;
    line-height: 0;
    text-align: center;
    padding: 0;
    float: left !important;
    margin: 10px 0 !important;
}