/*此文件应用于用户公告页面*/
/*header*/
header .login-ul{
    margin-top: 40px;
}
header .login-info{
    display: inline-block;
    width: 260px;
}
header img.media-object{
    width: 50px;
    height: 50px;
}
header .media-body .media-heading{
    display: inline-block;
}
header .media-body .login-name{
    width: 200px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
header .login-ul div.options{
    margin-top: 23px;
}
header .login-ul .option{
    display: inline-block;
}
header .login-ul .option:first-child{
    padding-right:10px;
    border-right: 1px solid #e7e7eb;
}
/*admin-content*/
.admin-content{
    margin: 20px auto;
    max-width: 1200px;
    min-height: 500px;
    background-color: #fff;
}
.admin-op-list{
    float: left;
    width: 20.4%;
    height:100%;
    box-sizing: border-box;
}
.admin-op-panel{
    float: left;
    width: 79%;
    border-left:1px solid #ddd;
    box-sizing: border-box;
}
@media screen and (max-width: 768px){
    .admin-op-list{
        width: 100%;
    }
    .admin-op-panel{
        width: 100%;
        border-left:none;
        box-sizing: border-box;
    }
}
/*缩小后的菜单*/

/*admin-content admin-op-list*/
.menu{
}
.menu .menu-title{
    position: relative;
    margin: 0;
    padding: 16px 0 16px 58px;
    color: #b2b2b2;
}
.menu .menu-title .glyphicon {
    display: block;
    position: absolute;
    left: 27px;
    top: 16px;
    width: 20px;
    height: 20px;
}
.menu .menu-ul{
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7eb;
}
.menu .menu-ul li a{
    display: block;
    height: 36px;
    line-height: 36px;
    color: #222;
    text-indent: 60px;
}
.menu .menu-ul li a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #599ee7;
}
/*admin-content admin-op-panel*/
.panel-content{
    margin: 0 auto;
    padding: 29px 0;
    width: 85%;
}
.panel-content .op-buttons button{
    float: right;
    margin: 10px 0 10px 10px;
}
.panel-content .op-content .table{
    border: 1px solid #c8c8c8;
}
.op-content .table th{
    text-align: center;

}
.op-content .table span.event-title{
    display: inline-block;
    float: left;
    width: 280px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.op-content .table span.label{
    display: inline-block;
    float: left;
    margin: 0 5px;
}
.op-content .table .op-choice{
    display: inline-block;
    padding-right: 5px;
}
.op-content .table .op-choice:first-child{
    border-right: 1px solid #bbb;
}
.op-content .pagination{
    float: right;
}
