/*此文件应用于用户公告页面*/

/*admin-content admin-op-panel*/

.panel-content .op-buttons button{
    float: right;
    margin: 10px 0 10px 10px;
}
.panel-content .op-content .table{
    border: 1px solid #c8c8c8;
}
.op-content .table th{
    text-align: center;

}
.op-content .table span.event-title{
    display: inline-block;
    float: left;
    width: 280px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.op-content .table span.label{
    display: inline-block;
    float: left;
    margin: 0 5px;
}
.op-content .table .op-choice{
    display: inline-block;
    padding-right: 5px;
}
.op-content .table .op-choice:first-child{
    border-right: 1px solid #bbb;
}
.op-content .pagination{
    float: right;
}
