body{
    /*max-width:1920px;*/
    min-width:1260px;
    font-size: 16px;
    background-color:#e7e8e0;
    font-family: "微软雅黑";
}
h1, h2, h3, h4, h5, h6{font-weight: normal;text-align: center;}

.container{
    min-width: 1170px;
}
.wrap{
    position: relative;
    margin: 0 auto;
    padding: 1px;
    width:1200px;
    height: 100%;
}
input{
    border-radius: 5px;
    border: none;
}
.clear-float:after {display:block;clear:both;content:"";overflow:hidden;height:0}
.clear-float{zoom:1}

/*nav*/
.navbar{
    padding: 12px 0px;
    height: 79px;
    background-color: rgba(0,0,0,0.3);
}
.navbar-default{
    border-color: transparent;
}
.navbar-static-top{
    background-color: rgba(0,0,0,0.5);
}
.navbar-default .navbar-brand{font-size: 1.7em;}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
    color: #fff;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}
.footer{
    background-color: #333;
}

.copyright{
    margin: 0;
    padding: 20px;
    color: #fff;
}
/*header*/
